.hovering {
  border-color: rgb(0, 255, 34);
}
li {
  background-color: white;
  cursor: pointer;
  margin-bottom: 10px; /* Add margin between tasks */
  padding: 10px;
  border-radius: 5px; /* Rounded corners for tasks */
}
li:hover {
  background: lightgray;
  color: white;
}
ul {
  height: 40px; /* needed when empty */
}
.kan-col {
  flex: 1;
  border: 3px solid darkgray;
  border-radius: 5px;
  padding: 10px;
  min-height: 500px;
  background-color: lightgreen;
}

.list-name {
  flex: 9; /* Take up 90% of the space */
}
/* Style for editable list name */
[contenteditable="true"] {
  border: 1px solid darkgray;
  padding: 5px;
  border-radius: 3px;
  margin-bottom: 10px;
  flex: 9;
}
.btn-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.btn-container-btn {
  margin-left: 10px;
}

.task {
  display: flex;
  align-items: center;
  /*   display: block; /* Display tasks vertically */
}

.task-content {
  flex: 9; /* Take up 90% of the space */
}

.edit-button,
.delete-button {
  flex: 1; /* Take up 10% of the space */
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.edit-image,
.delete-image {
  width: 20px;
  height: 20px;
}