#editorjs {
    margin: 20px;
    margin-left: 300px;
    margin-right: 300px;
    border: 1px solid grey;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    min-width: 300px;
  }
  p {
    text-align: center;
  }