.container {
    display: flex;
    box-sizing: border-box;
    width: 50%;
    height: 440px;
    padding: 10px;
    margin: 20px;
  }

  h2 {
    text-align: center;
    flex: 1000px;
  }

  p {
    text-align: left;
    margin-bottom: 0;
  }

  .row {
    display: flex;
    justify-content: space-between;
  }
  .wrapper {
    position: relative;
    width: 100%;
    max-width: 800px;
    min-width: 300px;
    max-height: 300px;
    overflow-y: scroll;
  }

  rect {
    fill: #2748ca;
  }

  .add-user {
  margin-right: 40px;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px; /* Adjust as needed for spacing */
}

  .user-table {
    overflow-y: scroll;
    min-height: 250px;
  }

  .vertical-line {
    position: relative;
  }
  
  .vertical-line::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%; /* Adjust the left position to move the line horizontally */
    border-left: 2px solid #000; /* Adjust the border properties as needed */
  }